/*
 *  filename: assets/scss/index.scss
 *  description: -
 **/

//-- Variables --/
$FLOAT-MS: 6000ms;
$GLOW-MS: 3000ms;

//-- Route => ('/') Styles --/
.main-content[pathname='/'] {
    height: 100%;

    img {
        animation: float $FLOAT-MS ease-in-out infinite, glow $GLOW-MS ease-in-out infinite alternate;
        filter: drop-shadow(0px 5px 10px #fff);
        height: 100vw;
        width: 100vw;
        max-height: 500px;
        max-width: 500px;
        z-index: -2;
        margin: 10px;
    }
}
