/*
 *  filename: assets/scss/index.scss
 *  description: -
 **/

.logo {
    animation: float 6s ease-in-out infinite, glow 3s ease-in-out infinite alternate;
    filter: drop-shadow(0px 5px 10px #fff);
    -webkit-filter: drop-shadow(0px 5px 10px #fff);
    height: 100%;
    width: 100%;
    max-height: 600px;
    max-width: 600px;
    z-index: -2;
}

.home-contain {
    z-index: -2;
    opacity: 0;
    animation: fade-in 3s ease-in forwards;
    margin: 10px;
}

.fade-out {
    animation: fade-out 3s ease-in forwards;
}
