/*
 *  filename: assets/scss/releases.scss
 *  description: -
 **/

//-- Route => ('/releases') Styles --/
.main-content[pathname='/releases'] {
    display: grid;
    width: 100%;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
    align-items: center;
    //animation: fade-in 3s ease-in forwards, float 6s ease-in-out infinite alternate;
    grid-row-gap: 50px;
    grid-column-gap: 50px;

    height: unset;

    @media (max-width: 920px) {
        grid-template-columns: 100%;
        grid-row-gap: 50px;
        margin: 0;
    }

    .release {
        cursor: pointer;
        width: 100%;
        margin: 0 auto;
        -webkit-box-shadow: 0px 22px 31px 4px rgba(0,0,0,0.82);
        -moz-box-shadow: 0px 22px 31px 4px rgba(0,0,0,0.82);
        box-shadow: 0px 22px 31px 4px rgba(0,0,0,0.82);

        &:hover {
            animation: rainbow 1s linear infinite 0s;
        }

        &, & > img {
            max-width: 350px;
            max-height: 350px;
        }
    }
}

.shine-contain {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    -webkit-box-shadow: 0px 22px 31px 4px rgba(0,0,0,0.82);
    -moz-box-shadow: 0px 22px 31px 4px rgba(0,0,0,0.82);
    box-shadow: 0px 22px 31px 4px rgba(0,0,0,0.82);
}

.shine:before {
    position: absolute;
    content:"";
    top:-200%;
    left:-200%;
    right:-100%;
    bottom:-100%;
    width: 200%;
    height: 200%;
    z-index: 1;
    transform: rotate(30deg);
    overflow: hidden;
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.0) 0%,
      rgba(255, 255, 255, 0.13) 89%,
      rgba(255, 255, 255, 0.3) 90%,
      rgba(255, 255, 255, 0.13) 97%,
      rgba(255, 255, 255, 0.0) 100%
    );
    animation: shine 1.4s linear;
    opacity: 0;
    cursor: pointer;
}

@keyframes shine {
    10% {
        opacity: 0.6;
        transition-property: left, top, opacity;
    }
    100% {
        opacity: 0;
        top: 110%;
        left: 110%;
        transition-property: left, top, opacity;
    }
}
