* {
  margin: 0;
  padding: 0;
  font-family: 'Kosugi', sans-serif;
  text-rendering: optimizeLegibility;
  user-select: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: url("/background.png");
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  height: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  min-height: 50px;
  background: url("/navbar_background.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

footer {
  width: 100%;
}

nav > ol {
  list-style-type: none;
  color: #fff;
  max-width: 800px;
}

nav > ol > li {
  color: #fff;
  display: inline;
  margin: 0 4vw;
  font-size: 21px;
}

nav > ol > li:first-child {
    margin-left: 0;
}

nav > ol > li:last-child {
    margin-right: 0;
}

nav > ol > li > a:hover {
  text-shadow: 0 0 10px #fff, 0 0 1px rgba(255, 255, 255, 0.3);
  transition: text-shadow 0.3s ease-in;
  animation: nav-glow 2.5s ease-in-out infinite alternate;
}

nav > ol > li > a.active {
  text-shadow: 0 0 20px #fff, 0 0 10px #fff, 0 0 1px rgba(255, 255, 255, 0.3);
}

nav > ol > li > a {
  text-decoration: none; 
}

nav > ol > li > a:visited {
  color: #fff;
}

nav > ol > li > a:link {
  color: #fff;
}

@keyframes nav-glow {
  from {
    text-shadow: 0 0 10px #97e3e8, 0 0 15px #97e3e8, 0 0 15px #97e3e8, 0 0 1px rgba(255, 255, 255, 0.3);
  }
  to {
    text-shadow: 0 0 10px #f45bfe, 0 0 15px #f45bfe, 0 0 15px #f45bfe, 0 1px rgba(255, 255, 255, 0.3);
  }
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.social-media-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social {
  margin: 10px;
  fill: #fff;
  cursor: pointer;
  user-select: none;
}

.footer-social:hover {
  animation: nav-glow 2.5s ease-in-out infinite alternate;
}

.copyright-text {
  text-align: center;
  font-size: 14px;
  color: #fff;
  margin: 10px;
}

.clouds {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("/clouds.png");
  background-repeat-y: no-repeat;
  background-position: center 120%;
  opacity: 0.5;
  animation: scroll-clouds 15s linear infinite;
  z-index: -1;
}

@keyframes scroll-clouds {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 1333px;
  }
}

@media (max-width: 600px) {
  nav > ol > li { margin: 0 5vw; font-size: 100%; }
  .clouds { background-position: center 130%; }
  .content { margin: 50px 10px 50px 10px; }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.footer-social {
  transition: fill 1s;
}

.twitter-social:hover {
  fill: #ff7bb5;
}

.instagram-social:hover {
  fill: #ffbacc;
}

.facebook-social:hover {
  fill: #ffc175;
}

.soundcloud-social:hover {
  fill: #fff074;
}

audio {
  display: none;
}

.audio-control {
  width: 20px;
  height: 20px;
  position: absolute;
  margin: 10px;
  margin-top: 60px;
  opacity: 1;
  background-size: contain;
  filter: invert(1);
}

.mute {
  background: url("/mute.png");
  background-size: contain;
  filter: invert(1);
}

.audio {
  background: url("/audio.png");
  background-size: contain;
  filter: invert(1);
  z-index: 4;
}

.audio-contain {
  position: absolute;
  z-index: 10;
}
